<section class="ui raised segment">
  <div>


    <h2>Tweets</h2>
    {{#each tweets}}

    <table class="ui celled table segment" style="table-layout: fixed">
      <thead>
      <h3>    <a href="/membertimeline/{{author.id}}"> {{author.firstName}} {{author.lastName}} </a>

      </h3>
      </thead>
    <tbody>

    <tr>
      <td style="word-wrap: break-word"> {{body}}
        <button class="ui red icon button" id="tweet{{tweetid}}" style="float: right;" onclick="window.location='/tweets/{{id}}/deleteTweet'"><i class="trash icon"></i></button>
      </td>
    </tr>
    <tr>
      <p><img class="ui medium image" src="/getTweetImg/{{id}}" />
      </p>
    </tr>
    <tr>
      <td> {{date}} </td>



    </tr>


    {{/each}}


  </tbody>

  </table>

  </div>
</section>