<section class="ui raised segment">
  <div>


      <h2>Newsfeed</h2>
      {{#each tweets}}

      <table class="ui celled table segment" style="table-layout: fixed">
        <thead>
          <h3>    <a href="/membertimeline/{{author.id}}"> {{author.firstName}} {{author.lastName}}
          {{#if author.profilePic.data}}
            <img class="ui tiny image" src="/getProfilePic/{{author.id}}" style="float: right;" /> </a>
          {{/if}}

          </h3>
        </thead>
        <tbody>

          <tr>
            <td style="word-wrap: break-word"> {{body}}
              {{#if img.data}}
              <img class="ui medium image" src="/getTweetImg/{{id}}" />
              {{/if}}

            </td>
          </tr>

          <tr>
            <td id="date"> {{date}} </td>

            <script type="text/javascript">
              document.getElementById('date').value = {{date}}.getTime();
            </script>

          </tr>

        {{/each}}

        </tbody>
        
      </table>

  </div>
</section>